@use "@styles/variables" as vars;
@use "@styles/mixins" as mix;

.error {
  border: 1px solid var(--destructive);
  border-radius: vars.$radius-md;
  padding: vars.$spacing-sm vars.$spacing-md;
  color: var(--destructive);
  font-size: vars.$font-size-sm;

  @include mix.focus-ring;
}
