@use "@styles/variables" as vars;
@use "@styles/mixins" as mix;

.actions {
  display: flex;
  align-items: center;
  gap: vars.$spacing-sm;

  a {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 2px;

    @include mix.focus-ring;
  }
}
