@use "@styles/variables" as vars;
@use "@styles/mixins" as mix;

.main {
  @include mix.section-stack(vars.$spacing-lg);
  flex: 1;
}

.title {
  font-size: vars.$font-size-2xl;
  font-weight: 600;
}
